p
{
    color: Red;
    background-color: aqua;
}
h1
{
    color: Blue;
}
table
{

color: blueviolet;
}
body
{
   background-color: antiquewhite;
}
a
{
    color: black;
}
li
{
    color: goldenrod;
}
h2{
    color: brown;
}